<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website1 %}
    <li class="website1"><i class="fas fa-globe-africa"></i>
      <a href="https://www.insight-centre.org/our-team/mihael-arcan/" target="_blank">{{ sidebar.website1 }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.website2 %}
    <li class="website2"><i class="fas fa-globe-africa"></i>
      <a href="https://dsi.nuigalway.ie/people/88b498677b9bf3780bf3d5151abbc5d69112dff8" target="_blank">{{ sidebar.website2 }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.website3 %}
    <li class="website3"><i class="fas fa-globe-africa"></i>
      <a href="http://www.nuigalway.ie/our-research/people/mihaelarcan/" target="_blank">{{ sidebar.website3 }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/mihael-arcan-593b3777/" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.gscholar %}
    <li class="gscholar"><i class="fa fa-graduation-cap"></i>
      &nbsp;<a href="https://scholar.google.com/citations?user=iI8CT3EAAAAJ&hl" target="_blank">{{ sidebar.gscholar }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.semscholar %}
    <li class="semscholar"><i class="fa fa-graduation-cap"></i>
      &nbsp;<a href="https://www.semanticscholar.org/author/Mihael-Arcan/1951431" target="_blank">{{ sidebar.semscholar }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.acl_ant %}
    <li class="acl_ant"><i class="fa fa-graduation-cap"></i>
      &nbsp;<a href="https://www.aclweb.org/anthology/people/mihael-arcan" target="_blank">{{ sidebar.acl_ant }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.bdlp %}
    <li class="bdlp"><i class="fa fa-graduation-cap"></i>
      &nbsp;<a href="https://dblp.org/pid/24/10894.html" target="_blank">{{ sidebar.bdlp }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.orcid %}
    <li class="orcid"><i class="fa fa-graduation-cap"></i>
      &nbsp;<a href="http://orcid.org/0000-0002-3116-621X" target="_blank">{{ sidebar.orcid }}</a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">{{ sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">{{ sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if sidebar.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank">{{ sidebar.goodreads }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.location %}
    <li class="location"><i class="fa fa-map-marker fa-lg"></i>
      &nbsp;&nbsp;<a href="https://www.google.com/maps/place/Galway/@53.2838294,-9.1888286,11z/data=!3m1!4b1!4m5!3m4!1s0x485b93955a2d5bff:0x32b1b440a495281!8m2!3d53.270668!4d-9.0567905" target="_blank">{{ sidebar.location }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
